/* HTML5 Template Styles for HTML5Template page */
/* Help older browsers with HTML5 layout elements */
header, nav, aside, article, footer, section, figure, figcaption {
 display: block;
}
/* Get rid of white border around browser window */
body {
 margin: 0;
 padding: 0;
}
/* Get rid of large margins on headings */
h1, h2, h3, h4, h5, h6 {
 margin: 0;
}
#wrapper {
 /* Set your own widths, % for fluid, px for fixed */
 width: 100%;
 min-width: 780px;
 max-width: 1260px; /* Vertical margins, and auto to center */
 margin: 0 auto;
}
/* Sample styles for 3-column layout */
/* Section containing multiple columns */
.columns {
 display: table;
 border-collapse: collapse;
 width: 100%; /* border is optional, style to taste */
 border: solid 1px silver;
}
/* Aside columns in columns div */
.columns aside {
 display: table-cell; /* Use any width and padding you like */
 width: 18%;
 padding: 1%;
}
/* Main article in the columns */
.columns article {
 padding: 1%;
}
/*Optional, style to taste */
.columns .left {
 background-color: #ddd;
 border-right: solid 1px gray;
}
.columns .right {
 background-color: #ddd;
 border-left: solid 5px orange;
}
